@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
  }

  @property --c1 { syntax: '<color>'; initial-value: #332E3C; inherits: false }
  @property --c2 { syntax: '<color>'; initial-value: #A29587; inherits: false }
  @property --c3 { syntax: '<color>'; initial-value: #f1effa; inherits: false }
  @property --c4 { syntax: '<color>'; initial-value: #d8d4f2; inherits: false }
  @property --c5 { syntax: '<color>'; initial-value: #846C5B; inherits: false }

  html, body, #root { height: 100% }

  body {
    @apply bg-transparent;
    margin: 0; 
    padding: 0; 
    color: #f1effa;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype-variations');
    font-weight: 100 900; 
    font-style: normal;
  }


  @font-face {
    font-family: 'Satoshi';
    src: url('/fonts/Satoshi-Variable.ttf') format('truetype-variations');
    font-weight: 300 900; 
    font-style: normal;
  }


  @font-face {
    font-family: 'Satoshi';
    src: url('/fonts/Satoshi-Bold.ttf') format('truetype');
    font-weight: 700; 
    font-style: normal;
  }
}

@layer utilities {
  .mesh-bg {
    position: absolute; 
    inset: 0;         
    z-index: 0;        
    overflow: hidden;   
    pointer-events: none; 
    background-color: #cf99ff;
  }

  .mesh-bg::before {
    content: ""; 
    position: absolute;
    inset: 0; 

    background-image:
      radial-gradient(
        at var(--g1-x, 88%) var(--g1-y, 78%),
        hsla(24,18%,43%,1) 0px,
        transparent var(--g1-s, 50%)
      ),
      radial-gradient(
        at var(--g2-x, 20%) var(--g2-y, 15%),
        hsla(247,53%,89%,1) 0px,
        transparent var(--g2-s, 50%)
      ),
      radial-gradient(
        at var(--g3-x, 43%) var(--g3-y, 97%),
        hsla(33,12%,52%,1) 0px,
        transparent var(--g3-s, 50%)
      ),
      radial-gradient(
        at var(--g4-x, 26%) var(--g4-y, 74%),
        hsla(247,53%,52%,1) 0px,
        transparent var(--g4-s, 50%)
      ),
      radial-gradient(
        at var(--g5-x, 58%) var(--g5-y, 53%),
        hsla(24,18%,43%,1) 0px,
        transparent var(--g5-s, 50%)
      );
    background-size: cover;
    /* antiquated but keeping for future */
    transition:
      --g1-x 8s ease-in-out,
      --g1-y 8s ease-in-out,
      --g1-s 8s ease-in-out,
      --g2-x 8s ease-in-out,
      --g2-y 8s ease-in-out,
      --g2-s 8s ease-in-out,
      --g3-x 8s ease-in-out,
      --g3-y 8s ease-in-out,
      --g3-s 8s ease-in-out,
      --g4-x 8s ease-in-out,
      --g4-y 8s ease-in-out,
      --g4-s 8s ease-in-out,
      --g5-x 8s ease-in-out,
      --g5-y 8s ease-in-out,
      --g5-s 8s ease-in-out;
  }
    .frosted-glass {
    background-color: rgba(75, 75, 75, 0.15); 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); 
    border-radius: 10px;
    &:hover {
      background-color: rgba(75, 75, 75, 0.25); 
    }

  }
    .search-bar-layout {
    /*manually defining responsive values because tailwind is not working*/
    width: calc(100% - 3rem); 
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 768px) {
      max-width: 600px;
      width: 100%;
      padding: 1.5rem 1.5rem;
      margin-left:auto;
      margin-right:auto;
    }

   

}
.font-heading {
  font-family: 'Satoshi', sans-serif;
  font-weight: 900;
}
}
.frosted-button {
  border-radius: 9999px;
  font-weight: 500;
  color: #cbd5e1;
  transition: all 0.2s ease-in-out;
}

.frosted-button:hover {
  transform: scale(1.03);
}
  .result-card-layout {
    padding: 1.5rem 1.5rem; 
    margin-bottom: 2rem;
    margin-left: auto; 
    margin-right: auto; 
  @media (min-width: 768px) {
    max-width: 480px;
    width: 100%;
    padding: 1.5rem 1.5rem;      
    margin-left: auto;       
    margin-right: auto;
    }
  }
